<%@ Template Language="JavaScript" TargetLanguage="JavaScript"%>
<%@ Property Name="AngularAppName" Type="System.String" Default="SampleApp" Description="This is the name of the angular app this service should be associated with" %>
<%@ Property Name="AngularServiceName" Type="System.String" Default="SampleService" Description="This is the name of the angular service that this file will represent"%>
<%@ Property Name="ModelName" Type="System.String" Default="SampleModel" Description="This is the model that this service is built on" %>

